
// Tipografia
$fuente_principal: 'Roboto', sans-serif;
$fuente_sec: 'Jura', sans-serif;
$titHero: 5rem;
$titSec: 3.6rem; 
$titulos: 3rem;  
$titParrafo: 2.3rem;
$titH5: 2rem;
$descSec: 1.8rem;   
$descCon: 1.6rem;
 

// Colores  
$negro: #000000; 
$blanco: #FFFFFF;    
$color1: #cb001a;   
$color2: #8d0012;   
$color3: #7d7d7d;    
// $color4: #414141; 
$color4: #1F2022;  
$color5: #d1d1d1;   
// $color6: #1BCC00; 
$color6: #00BB2D;  
$degradadoRed: linear-gradient(0deg, rgba(141,0,18,1) 35%, rgba(203,0,26,1) 100%);
$degradado2: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
$degradado3: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(0,0,0,1) 100%);
$degradado4: linear-gradient(0deg, rgba(3,106,28,1) 12%, rgba(0,187,45,1) 62%);

// Tamaños de Media Queries 
$movilSM: 375px;  
$movil: 480px;
$tablet: 768px; 
$desk: 992px;
$deskXL: 1200px;   
$deskXXL: 1445px;

// Bordes
$box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, .3);
$box-shadow2: 2px 5px 10px rgba(0, 0, 0, 0.5);
$box-shadow3: 5px 20px 50px rgba(0, 0, 0, 1); 
$box-shadow4: .5px 2px 3px rgba(255, 255, 255, 0.7);

$borde: 1px solid rgb(208, 208, 208);
$borde2: 1px solid #d1d1d1;  
$borde3: 1px solid #707070;  
$borde4: 1px solid rgba(0, 0, 0, .1); 
 
// Otros 

$sepSeccion: 6rem;
$animationSpeed: 25s;  

// $rotate: 132deg;       

// VARIABLES PARA LA ANIMACIÓN DEL MOUSE

$colorBg: #222a30;
$colorOutline: #ffffff;
$colorOutFade: #4e5559;

$widthMouse: 21px;
$heightMouse: 44px; 
$borderMouse: 3px;

$widthMouseSM: 15px;
$heightMouseSM: 38px; 
$borderMouseSM: 2px;

$posMouse: 4px;
$posText: 2px;

$sizeTrackball: 5px; 
$posTrackball: 10px;
$shrinkTrackball: 0.4;

$animDuration: 5s;
