@use 'base/variables' as v;
@use 'base/mixins' as m;



.tit_solucion { 
    width: 75%; 
    text-align: left;   
    margin: auto 0; 

    @include m.mixMQ(v.$deskXXL) { 
        width: 80%; 
    };

    @include m.mixMQ(v.$desk) {
        width: 90%;  
    }; 
}

.secProSol { 
    @include m.mixFlex(flex,center,center,0,row);
    height: 600px;
    overflow: hidden;   
    
    @include m.mixMQ(v.$tablet) {
        flex-direction: column;
        height: auto;
    };

    .secPS_article {
        width: 50%;
        padding: 5rem 3rem; 
        height: 100%;
        border-right: 5px solid v.$color1;

        @include m.mixMQ(v.$tablet) {
            width: 100%;
            border-right: none; 
            border-bottom: 5px solid v.$color1;
        };

        @include m.mixMQ(v.$movilSM) {
            padding: 5rem 2rem;
        };

        .titulo {
 
            p {
                @include m.mixMQ(v.$desk) {
                    font-size: 1.4rem;
                };
            }
        }

        .lista_problemas {
            width: 60%;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 10px;
            position: relative;
            margin-top: 1.5rem;

            @include m.mixMQ(v.$deskXL) {
                width: 70%;
            };

            @include m.mixMQ(v.$desk) {
                width: 90%;
            };

            .problema_fondo {
                width: 100%;
                height: 310px;
                overflow: hidden;
                position: relative;

                @include m.mixMQ(v.$deskXL) {
                    height: 280px;
                };

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.45);
                }
        
                img {
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            .elLista {
                position: absolute;
                top: 5rem;
                left: 2rem;

                @include m.mixMQ(v.$deskXL) {
                    top: 2.5rem;
                };

                @include m.mixMQ(v.$movil414) {
                    top: 1rem;
                    left: -2rem;
                };
            }
        }

    }

    .secImg_fondo {
        width: 50%;
        position: relative;
        padding: 3rem;
        height: 100%;  
        @include m.mixFlex(flex,space-around,false,nowrap,column);

        @include m.mixMQ(v.$tablet) {
            width: 100%;
        };
    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            z-index: -1;
        }

        .elLista {

            @include m.mixMQ(v.$movil414) {
                padding: 2rem 0;
                margin-left: 0;
            };
        }
    }

    .secImg_fondo_rest {
        @extend .secImg_fondo;

        &::before {
            background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 10%, rgba(0,0,0,0.45) 40%, rgba(0,0,0,0) 55%), url('../img/BDKREST/SOLUCION.jpg');

            @include m.mixMQ(v.$movil) {
                background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 40%, rgba(0,0,0,.2) 100%), url('../img/BDKREST/SOLUCION.jpg');
            };
        }

        .tituloWhite {
            @include m.mixMQ(v.$movil) {
                text-align: center;
            };
        }
    }

    .secImg_fondo_gym {
        @extend .secImg_fondo;

        &::before {
            background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.45) 35%, rgba(0,0,0,0) 55%), url('../img/BDKGYM/SOLUCION.jpg');
        }
    }

    .secImg_fondo_tint {
        @extend .secImg_fondo;

        &::before {
            background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.45) 35%, rgba(0,0,0,0) 55%), url('../img/BDKTINT/SOLUCION.jpg');
            background-size: cover;
            background-position: center center;
    
            @include m.mixMQ(v.$deskXXL) {
                background-position: left center;
            };

            @include m.mixMQ(v.$desk) {
                background-position: 40%;
            };
        }
    }

    .secImg_fondo_spa {
        @extend .secImg_fondo;

        &::before { 
            background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.45) 35%, rgba(0,0,0,0) 55%), url('../img/BDKSPA/SOLUCION.jpg');
        }
    }

    .secImg_fondo_barber {
        @extend .secImg_fondo;

        &::before {
            background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.45) 35%, rgba(0,0,0,0) 55%), url('../img/BDKBARBER/SOLUCION.jpg');
        }
    }

    .secImg_fondo_pos {
        @extend .secImg_fondo;

        &::before {
            background-image: linear-gradient(90deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.45) 35%, rgba(0,0,0,0) 55%), url('../img/BDKPOS/SOLUCION.jpg');

            @include m.mixMQ(v.$desk) {
                background-position: 75%;
            };    
        }
    }

}

.mapa_soft {
    overflow: hidden; 

    .content_mapa {
        @include m.mixFlex(flex,space-around,center,wrap,row);
        margin: 1rem auto;
        position: relative;

        .mapa_imagen {
            width: 50%;
            position: relative;

            @include m.mixMQ(v.$movil) {
                width: 80%;
            };
            @include m.mixMQ(v.$movil414) {
                width: 90%;
            };
            @include m.mixMQ(v.$movilSM) {
                width: 100%;
            };

            img {
                width: 100%;
                object-fit: cover;
            }

            .punto_interes {
                position: absolute; 
                cursor: pointer;
                color: v.$color6;
                animation: parpadeo 1.5s linear .5s infinite; 

                &:hover {
                    color: v.$color1;
                } 
            }

            .punto_activo {
                color: v.$color1; 
            }

            .mapa_otros {
                position: absolute;
                top: 2rem;
                left: 3rem;

                @include m.mixMQ(v.$tablet) {
                    left: -5rem;
                    top: 3rem;
                };

                @include m.mixMQ(v.$movil) {
                    left: 60%;
                    top: 85%;
                };

                // @include m.mixMQ(v.$movil) {
                //     left: 60%;
                //     top: 85%;
                // };

                @include m.mixMQ(v.$movil414) {
                    left: 55%;
                    top: 87%;
                };
            }
        }

        .mapa_funciones {
            position: absolute;
            width: 450px;

            @include m.mixMQ(v.$tablet) {
                position: relative; 
            };

            .funcion_mapa {
                display: none;

                h4 {
                    i {
                        color: v.$color1;
                        font-size: 1.5rem;
                    }
                }

                p {
                    border-top: 1px solid v.$color1;
                    padding-top: 1rem;

                    @include m.mixMQ(v.$desk) {
                        font-size: 1.3rem;
                    };
                }

                small {
                    color: v.$color1;

                    @include m.mixMQ(v.$desk) {
                        font-size: 1.2rem;
                    };
                }
                
                a {
                    display: block;
                    width: 15rem;
                    text-align: center;
                }
            }

            .desc_activa {
                display: inline-block; 
            }
    
        }

        .mapa_funciones_rest {
            @extend .mapa_funciones;
            left: 68%;
            top: 28rem;

            @include m.mixMQ(v.$deskXL) {
                top: 26rem;
                left: 63%;
                width: 425px;
            };

            @include m.mixMQ(v.$desk) {
                top: 21rem;
                width: 360px;
            };

            @include m.mixMQ(v.$tablet) {
                top: 2rem;
                left: 0;
                width: 100%;
            };
        
        }

        .mapa_funciones_gym {
            @extend .mapa_funciones;
            left: 72%;
            top: 28rem;

            @include m.mixMQ(v.$deskXXL) {
                left: 70%;
            };

            @include m.mixMQ(v.$deskXL) {
                left: 66%;
                width: 400px;
            };

            @include m.mixMQ(v.$desk) {
                top: 22rem;
                left: 0;
                width: 380px;
            };

            @include m.mixMQ(v.$tablet) {
                top: 2rem;
                left: 0;
                width: 100%;
            };
        
        }

        .mapa_funciones_tint {
            @extend .mapa_funciones;
            left: 10%;
            top: 32rem;

            @include m.mixMQ(v.$desk) {
                top: 28rem;
                width: 400px;
            };
        
            @include m.mixMQ(v.$tablet) {
                top: 2rem;
                left: 0;
                width: 100%;
            };

        }

        .mapa_funciones_spa {
            @extend .mapa_funciones;
            left: 71%;
            top: 30rem;

            @include m.mixMQ(v.$deskXL) {
                left: 66%;
                width: 415px;
            };

            @include m.mixMQ(v.$desk) {
                left: 0;
                top: 24rem;
                width: 360px;
            };
        
            @include m.mixMQ(v.$tablet) {
                top: 2rem;
                left: 0;
                width: 100%;
            };

        }

        .mapa_funciones_barber {
            @extend .mapa_funciones;
            left: 65%;
            top: 28rem;

            @include m.mixMQ(v.$deskXL) {
                left: 60%;
            };

            @include m.mixMQ(v.$desk) {
                top: 24rem;
                left: 58%;
                width: 400px;
            };        

            @include m.mixMQ(v.$tablet) {
                top: 2rem;
                left: 0;
                width: 100%;
            };

        }

        .mapa_funciones_pos {
            @extend .mapa_funciones;
            left: 75%;
            top: 20rem;

            @include m.mixMQ(v.$deskXXL) {
                left: 71%;
                top: 22rem; 
            };

            @include m.mixMQ(v.$deskXL) {
                left: 66%;
                width: 420px;
            };
        
            @include m.mixMQ(v.$desk) {
                top: 15rem;
                left: 0;
                width: 300px;
            };
        
            @include m.mixMQ(v.$tablet) {
                top: 2rem;
                left: 0;
                width: 100%;
            };

        }

    }
}

.video_software {
    width: 100%;
    height: 450px ;
    background: v.$degradadoRed;
    @include m.mixFlex(flex,center,center,wrap,row);
  
    @include m.mixMQ(v.$tablet) {
        height: 350px;
    };

    @include m.mixMQ(v.$movil) {
        flex-direction: column;
        height: auto;
    };

    // ! GRUPOS DE CARACTERÍSTICAS CON ICONO CIRCULAR
    .vid_caracteristicas {
        width: 25%;
        @include m.mixFlex(flex,center,0,wrap,column);

        @include m.mixMQ(v.$tablet) {
            width: 20%;
        };

        @include m.mixMQ(v.$movil) {
            flex-direction: row;
            width: 100%;
            margin: 2rem 0;

        };

        .elementoCar {
            text-align: center;
            margin-bottom: 1rem;
            padding: 5px;

            @include m.mixMQ(v.$movil) {
                width: 32%;
            };

            i {
                @include m.mixIcono(7rem, 2rem);
                background: v.$blanco;
                color: v.$color1; 
                margin-bottom: 1rem;
                cursor: auto;

                @include m.mixMQ(v.$tablet) {
                    @include m.mixIcono(5rem, 2rem);                    
                };
            }

            h5 {
                font-size: v.$titH5 - .5rem;
                color: v.$blanco;

                @include m.mixMQ(v.$tablet) {
                    font-size: v.$titH5 - .8rem;                    
                };
            }
        }
    }

    .vs_video {
        width: 40%;
        height: 100%;
        padding: 1rem;

        @include m.mixMQ(v.$deskXL) {
            width: 50%;
        };

        @include m.mixMQ(v.$tablet) {
            width: 60%;
        };

        @include m.mixMQ(v.$movil) {
            width: 100%;
        };

        video {
            width: 100%;
            height: 100%;
            max-height: 100%;
            top: 0;
            object-fit: cover;
            box-shadow: v.$box-shadow2;
            border: 2px solid v.$blanco;
            
        }

    }

}


// ! SECCIÓN LISTA DE PRECIOS
.precios_software {
    
    .precios_planes {        
        @include m.mixFlex(flex,center,center,wrap,0);
        margin: 3rem auto;
        width: 90%;

        @include m.mixMQ(v.$deskXXL) {
            width: 100%;
        };

        .planes_paquete {
            @include m.mixBox(30%,600px,0,10px,v.$blanco,v.$box-shadow4);
            margin: 1rem;
            padding: 2rem;

            @include m.mixMQ(v.$desk) {
                padding: 1rem;
            };

            @include m.mixMQ(v.$tablet) {
                width: 85%;
                height: auto;
            };

            @include m.mixMQ(v.$movilSM) {
                width: 90%;
            };

            .paquete_nombrePlan { 
                @include m.mixBox(100%,20%,0,10px,v.$color5,false);
                padding: 1rem 0;
                text-align: center;
                color: v.$color1;

                @include m.mixMQ(v.$deskXL) {
                    height: 17.5%;
                };
                
                h3 {
                    margin-bottom: 0;
                }
            }

            .paquete_nombrePlanOro {
                @extend .paquete_nombrePlan;
                background: v.$degradadoRed;
                color: v.$blanco;
            }

            .paquete_contenidoPlan {
                padding: 2rem 0;
                height: 70%;
                overflow: hidden;

                @include m.mixMQ(v.$desk) {
                    height: 72%; 
                };

                .paqContenido_header {
                    text-align: center;
                    margin: 0 auto;

                    @include m.mixMQ(v.$movil) {
                        width: 90%;
                        margin-top: 2rem;
                    };

                    h5 {
                        font-size: 1.2rem;
                        width: 85%;
                        margin: 0 auto;
                    }
                    h4 {
                        font-weight: normal;

                        @include m.mixMQ(v.$tablet) {
                            margin-bottom: .5rem;
                        };

                    }
                    h3 {
                        font-size: v.$titParrafo;
                        color: v.$color1;

                        @include m.mixMQ(v.$tablet) {
                            font-size: v.$titParrafo - .5rem; 
                            margin-bottom: .3rem;                           
                        };
                    }
                }

                .paqContenido_main {
                    padding: 1rem 0;
                    margin: 1rem 0;

                    @include m.mixMQ(v.$tablet) {
                        padding: 0 2rem;
                    };
                    @include m.mixMQ(v.$movilSM) {
                        padding: 0 1rem;
                    };
            
                    .pqElement {
                        @include m.mixFlex(flex,0,center,nowrap,0);
            
                        i {
                            color: v.$color6;
                            font-size: 1.4rem;
                            margin-right: 1rem;
                        }

                        .fa-exclamation-triangle {
                            color: v.$color1;
                        }
            
                        p {
                            margin: 2px 0;
                            line-height: 1.25;
                            font-size: 1.4rem;

                            @include m.mixMQ(v.$desk) {
                                font-size: 1.3rem;
                            };

                            span {
                                font-weight: bold;
                            }    
                        }

                    }

                    .pqElementAlert {
                        @extend .pqElement;
                        
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }    

            .paquete_footer {
                margin-top: 1rem;
                text-align: center;
                height: 10%;

                @include m.mixMQ(v.$tablet) {
                    margin: 0;
                    height: auto;
                };
            }
        
        }
    }
}

// ! SECCIÓN LISTA DE PRECIOS    
.sec-informes {
    width: 100%;
    background: v.$degradadoRed;

    .tituloWhite {
        h3 {
            color: v.$negro;

            span {
                color: v.$blanco;
            }
        }
    }

    .informes_content {
        @include m.mixFlex(flex,center,center,nowrap,column);
        width: 75%;
        margin: 2rem auto 0;

        @include m.mixMQ(v.$movil) {
            width: 90%;
        };

        p {
            color: v.$blanco;
            text-align: center;
        }

        h5 {
            color: v.$blanco;
            margin-top: 2rem;
        }

        .informes_lista {
            width: 45%;
            margin: 1rem; 
            padding: 0;

            @include m.mixMQ(v.$tablet) {
                width: 90%;
            };
    
            .pwElement {
                @include m.mixFlex(flex,0,center,nowrap,0);
    
                i {
                    color: v.$color6;
                    font-size: 1.4rem;
                    margin-right: 1rem;
                }
    
                p {
                    margin: 3px 0;
                    line-height: 1.25;
                    font-size: 1.4rem;
                    text-align: justify;
                    color: v.$blanco;

                    span {
                        font-weight: bold;
                    }    
                }
            }

            small {
                display: block;
                margin-top: 2rem;
                color: v.$blanco;
                text-align: center;
            }
        }

        .informes_text {
            width: 70%;

            p {
                color: v.$blanco;
            }
        }
    }

    .informes-accion {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }

}

// ! SECCIÓN DE PROMOCIONES 
.promociones {
    position: relative;

    .promo_img {
        width: 100%;
        overflow: hidden;

        @include m.mixMQ(v.$movil) {
            height: 245px;
        };
        @include m.mixMQ(v.$movil414) {
            height: 200px;
        };
 
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .promo_content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include m.mixFlex(flex,center,center,wrap,column);

        .promocion {
            width: 60%;
            height: 100%;
            padding-right: 7rem;
            padding-left: 2rem;
            @include m.mixFlex(flex,center,center,wrap,column);
            text-align: center;

            @include m.mixMQ(v.$movil414) {
                width: 80%;
                padding-right: 3rem;
            };
            
            i {
                color: v.$color1;
                font-size: v.$titHero + 5rem;
                margin-bottom: 2rem;

                @include m.mixMQ(v.$desk) {
                    font-size: v.$titHero + 3rem;
                };

                @include m.mixMQ(v.$tablet) {
                    font-size: v.$titSec;
                    margin-bottom: .5rem;
                };

                @include m.mixMQ(v.$movil) {
                    font-size: v.$titSec - 1rem;
                };

                @include m.mixMQ(v.$movilSM) {
                    font-size: v.$titSec - 1.5rem;                    
                };
            }

            h2 {
                text-transform: uppercase;
                font-weight: bolder;
                font-size: v.$titHero;

                @include m.mixMQ(v.$desk) {
                    font-size: v.$titHero - .3rem;
                };

                @include m.mixMQ(v.$tablet) {
                    font-size: v.$titHero - 2rem;                    
                    margin-bottom: .5rem;
                };

                @include m.mixMQ(v.$movil) {
                    font-size: v.$titHero - 3rem;
                    margin-bottom: 0;
                };

                @include m.mixMQ(v.$movilSM) {
                    font-size: v.$titHero - 3.2rem;
                };

                span {
                    color: v.$color1;
                }
            }

            h4 {
                @include m.mixMQ(v.$movil) {
                    font-size: v.$titParrafo - 1rem;
                };
                @include m.mixMQ(v.$movilSM) {
                    font-size: v.$titParrafo - 1.2rem;
                    margin-bottom: .5rem; 
                };
            }

            a {
                margin-top: 2rem;

                @include m.mixMQ(v.$desk) {
                    margin-top: 1.5rem;
                };

                @include m.mixMQ(v.$tablet) {
                    margin-top: 1rem;
                };

                @include m.mixMQ(v.$movil) {
                    display: none;
                };
            }

            .promo_validoen {
                padding: 1rem 0;
                text-align: left;

                h5 { 
                    text-align: center;

                    @include m.mixMQ(v.$tablet) {
                        font-size: v.$titH5 - .5rem;
                    };

                    @include m.mixMQ(v.$movil) {
                        font-size: v.$titH5 - 1rem;                        
                    };
                }

                .prElement {
                    @include m.mixFlex(flex,0,center,nowrap,0);
                    width: 100%;
        
                    i {
                        color: v.$color6;
                        font-size: 1.4rem;
                        margin: 0;
                        margin-right: 1rem;

                        @include m.mixMQ(v.$movilSM) {
                            font-size: 1.2rem;                            
                        };
                    }
        
                    p {
                        margin: 2px 0;
                        line-height: 1.25;
                        font-size: 1.4rem;

                        @include m.mixMQ(v.$tablet) {
                            font-size: 1.2rem;
                        };

                        @include m.mixMQ(v.$movilSM) {
                            margin: 0;
                        };

                        span {
                            font-weight: bold;
                        }    
                    }
                }

                small {
                    display: inline-block;
                    color: v.$color1;
                    margin-top: 1rem;

                    @include m.mixMQ(v.$tablet) {
                        font-size: 1rem;
                    };
                    @include m.mixMQ(v.$movilSM) {
                        margin-top: .5rem;
                    };

                }
            }

            .boton {
                @include m.mixMQ(v.$movilSM) {
                    font-size: 1rem;
                    padding: .5rem 2rem;
                    width: 70%;
                };
            }
        }
    }
}

// ! SECCIÓN DE LA PANTALLA INFORMATIVA TIPO POPUP DEL MAPA DE MESAS
.infoPopup {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
    background: v.$degradadoRed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    @include m.mixFlex(flex,center,center,0,0);
    transition: 0.3s;

    &.active {
        transition-delay: 0.1s;
        transform: translate(-50%, -50%) scale(1) rotate(0);
    }
        
    .info_content {
        width: 90%;
        height: 75vh;
        max-width: 1200px;
        background-color: v.$blanco;
        border-radius: 10px;
        box-shadow: v.$box-shadow2;
        padding-right: 1rem;
        overflow: hidden;

        @include m.mixFlex(flex,center,center,wrap,row);

        @include m.mixMQ(v.$tablet) {
            width: 95%;
            height: 80vh;
        };

        @include m.mixMQ(v.$movil) {
            flex-direction: column;
            padding-right: 0;
            height: 90vh;
        };

        .info_imagen {
            width: 40%;
            height: 100%;
            overflow: hidden;

            @include m.mixMQ(v.$desk) {
                width: 45%;
            };

            @include m.mixMQ(v.$movil) {
                width: 100%;
                height: 35%;
            };

            img { 
                height: 100%;
                object-fit: cover;
                border-radius: 10px 0 0 10px;
                border-right: 1px solid v.$color5;

                box-shadow: v.$box-shadow4;

                @include m.mixMQ(v.$movil) {
                    border-radius: 10px 10px 0 0;
                };

            }
        }

        .info_descrip {
            width: 60%;
            padding: 3rem;
            height: 100%;

            @include m.mixMQ(v.$desk) {
                width: 55%;
                padding: 2rem 0 2rem 2rem;
            };

            @include m.mixMQ(v.$movil) {
                width: 100%;
                height: 65%;
                padding: 2rem;
            };
            @include m.mixMQ(v.$movilSM) {
                padding: 1rem;
            };

            .titulo {
                text-align: left;
                margin-left: 0;

                h2 {
                    border-bottom: 1px solid v.$color1;

                    @include m.mixMQ(v.$movilSM) {
                        font-size: 1.8rem;
                    };
                }

                p {
                    font-family: v.$fuente_principal;
                }
            }

            .info_main {
                margin-top: 2rem;
                height: 85%;
                overflow: hidden;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 8px;     /* Tamaño del scroll en vertical */
                    height: 8px;    /* Tamaño del scroll en horizontal */
                    /* display: none;  Ocultar scroll */
                }
                
                /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
                &::-webkit-scrollbar-thumb {
                    background: v.$color1;
                    border-radius: 4px;
                }
        
                /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
                &::-webkit-scrollbar-thumb:hover {
                    // background: #b3b3b3;
                    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
                }
        
                /* Cambiamos el fondo cuando esté en active */
                &::-webkit-scrollbar-thumb:active {
                    background: v.$color1;
                }
                
                &::-webkit-scrollbar-track {
                    /* background: #e1e1e1; */
                    border-radius: 4px;
                }
        
                /* Cambiamos el fondo cuando esté en active o hover */
                &::-webkit-scrollbar-track:hover,
                &::-webkit-scrollbar-track:active {
                    background: #d4d4d4;
                }        
        
                @include m.mixMQ(v.$movil) {
                    margin-top: 1rem;
                    width: 100%;
                };

                p {
                    @include m.mixMQ(v.$movil) {
                        font-size: 1.4rem;
                    };
                    @include m.mixMQ(v.$movil) {
                        font-size: 1.2rem;
                    };
                }

                .elLista {
                
                    @include m.mixMQ(v.$tablet) {
                        padding-left: 0;
                    };

                    @include m.mixMQ(v.$movil) {
                        padding: 0;
                        margin: 1rem 0;
                    };
                    
                    ul li {
                        
                        @include m.mixMQ(v.$desk) {
                            font-size: 1.3rem;
                            line-height : 20px;
                            margin-bottom: .5rem;
                        };

                        @include m.mixMQ(v.$tablet) {
                            font-size: 1.2rem;                            
                            margin-bottom: .25rem;
                        };

                        @include m.mixMQ(v.$movilSM) {
                            font-size: 1.1rem;
                        };


                        .fa-exclamation-triangle {
                            color: v.$negro;
                        }

                        span {
                            color: v.$color1;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .popup_visible {
        display: none;

        &.active {
            display: flex;
        }
    }

    // ! POPUS BDKREST

    .popup_hostess {
        @extend .popup_visible;
    }

    .popup_movil {
        @extend .popup_visible;
    }

    .popup_meseros {
        @extend .popup_visible;
    }

    .popup_caja {
        @extend .popup_visible;
    }

    .popup_cocina {
        @extend .popup_visible;
    }

    .popup_recetas {
        @extend .popup_visible;
    }

    .popup_almacen {
        @extend .popup_visible;
    }

    .popup_clientes {
        @extend .popup_visible;
    }

    .popup_comedor {
        @extend .popup_visible;
    }

    .popup_billar {
        @extend .popup_visible;
    }

    .close {
        position: absolute;
        top: 30px;  right: 30px;
        cursor: pointer;
        max-width: 32px;
        filter: invert(1);

        @include m.mixMQ(v.$movil) {
            filter: none;
            background: v.$blanco;
            border-radius: 50%;
            padding: .8rem;
            color: v.$blanco;
            border: 1px solid v.$color1;
        };
    }    
    
    // ! POPUS BDKGYM

    .popup_recepcion {
        @extend .popup_visible;
    }

    .popup_asistencia {
        @extend .popup_visible;
    }

    .popup_acceso {
        @extend .popup_visible;
    }

    .popup_clases {
        @extend .popup_visible;
    }

    .popup_gimnasio {
        @extend .popup_visible;
    }

    .popup_pos {
        @extend .popup_visible;
    }

    .popup_admon {
        @extend .popup_visible;
    }

    // ! POPUS BDKTINT    

    .popup_servicios {
        @extend .popup_visible;
    }

    .popup_inventarios {
        @extend .popup_visible;
    }

    .popup_empleados {
        @extend .popup_visible;
    }

    .popup_cuentas {
        @extend .popup_visible;
    }

    // ! POPUS BDKSPA

    .popup_trats {
        @extend .popup_visible;
    }

    .popup_nots {
        @extend .popup_visible;
    }

    // ! POPUS BDKPOS

    .popup_domicilio {
        @extend .popup_visible;
    }

} 

.soft_titulo {
    width: 85%;
    margin: 0 auto;

    h1 {
        width: 100%;
        text-align: center!important;
        font-size: v.$titHero - 1rem;

        @include m.mixMQ(v.$deskXL) {
            font-size: v.$titHero - 2rem;                    
        };

        @include m.mixMQ(v.$desk) {
            font-size: v.$titHero - 2.2rem;
        };

        @include m.mixMQ(v.$movil414) {
            font-size: v.$titHero - 2.5rem;
        };

        @include m.mixMQ(v.$movilSM) {
            font-size: v.$titHero - 2.8rem;
        };

        span {
            color: v.$negro!important;
            text-shadow: none!important;
        } 
    }

    p {
        width: 80%;
        margin: 0 auto;
        font-size: v.$titParrafo + .5rem;
        text-align: center;

        @include m.mixMQ(v.$deskXL) {
            font-size: v.$titParrafo - .2rem;
        };

        @include m.mixMQ(v.$desk) {
            width: 100%;
            font-size: v.$titParrafo - .5rem!important;
        };

    }

}


