@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero-Rest {
    width: 100vw;
    height: 100vh; 

} 

#pt_rest_hostess {
    bottom: 70px;
    left: 100px;

    @include m.mixMQ(v.$deskXL) {
        left: 80px;
        bottom: 60px;
    };

    @include m.mixMQ(v.$desk) {
        left: 65px;
    };

    @include m.mixMQ(v.$tablet) {
        left: 35px;
        bottom: 25px;
    };

}
#pt_rest_comMovil {
    bottom: 100px;
    left: 220px;

    @include m.mixMQ(v.$deskXL) {
        left: 200px;
    };

    @include m.mixMQ(v.$desk) {
        left: 160px;
        bottom: 85px;
    };

    @include m.mixMQ(v.$tablet) {
        left: 120px;
        bottom: 50px;
    };

}

#pt_rest_comDesk {
    top: 70px;
    left: 200px;

    @include m.mixMQ(v.$desk) {
        left: 130px;
        top: 80px;
    };

    @include m.mixMQ(v.$tablet) {
        top: 70px;
        left: 100px;
    };

}

#pt_rest_caja {
    bottom: 220px;
    left: 380px;

    @include m.mixMQ(v.$deskXL) {
        left: 340px;
    };

    @include m.mixMQ(v.$desk) {
        left: 280px;
        bottom: 150px;
    };

    @include m.mixMQ(v.$tablet) {
        left: 210px;
        bottom: 120px;
    };

}

#pt_rest_cocina {
    bottom: 220px;
    right: 90px;

    @include m.mixMQ(v.$deskXL) {
        right: 80px;
        bottom: 200px;
    };

    @include m.mixMQ(v.$desk) {
        right: 90px;
        bottom: 160px;
    };

    @include m.mixMQ(v.$tablet) {
        right: 60px;
        bottom: 110px;
    };

}

#pt_rest_recetas {
    bottom: 330px;
    right: 125px;

    @include m.mixMQ(v.$deskXL) {
        right: 110px;
        bottom: 270px;
    };

    @include m.mixMQ(v.$desk) {
        bottom: 230px;
    };

    @include m.mixMQ(v.$tablet) {
        bottom: 170px;
        right: 70px;
    };

}

#pt_rest_almacen {
    top: 20px;
    right: 280px;

    @include m.mixMQ(v.$desk) {
        right: 220px;
    };

    @include m.mixMQ(v.$tablet) {
        right: 150px;
    };

}

#pt_rest_clientes {
    bottom: 160px;
    left: 330px;

    @include m.mixMQ(v.$deskXL) {
        left: 290px;
        bottom: 140px;
    };

    @include m.mixMQ(v.$desk) {
        left: 230px;
        bottom: 120px;
    };

    @include m.mixMQ(v.$tablet) {
        left: 180px;
        bottom: 80px;
    };

}

#pt_rest_comedor {
    top: 2rem;
    left: 0;

    @include m.mixMQ(v.$tablet) {
        top: 3.2rem;
        left: -7rem;
    };

}
#pt_rest_billar {
    top: 5rem;
    left: 0;

    @include m.mixMQ(v.$tablet) {
        top: 5.5rem;
        left: -7rem;
    };

}
