@use 'base/variables' as v;
@use 'base/mixins' as m;

 /* ! GALERIA */
/* !__________________________________________________________________________________________________________________________________________ */

.galeria {
    @include m.mixFlex(flex,center,center,0,column);
    padding: v.$sepSeccion 2rem;

    .galeria_content {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
        gap: 1.5rem;
        justify-content: space-evenly;
        object-fit: cover;
        margin: 3rem 0;    

        a {

            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;    
                border-radius: 10px;
                transition: transform 0.3s ease-in-out;
            }

            &:hover img {
                // -webkit-filter: grayscale(0);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
    
        }

        @include m.mixMQ(v.$tablet) {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));            
        };
        
        @include m.mixMQ(v.$movil) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));            
        };
    }    

}
