@use 'base/variables' as v;
@use 'base/mixins' as m;

.secEquipo {

    .eqContent {
        width: 70%;
        margin: 3rem auto;
        @include m.mixFlex(flex,0,center,0,column);

        img {
            width: 350px;
            object-fit: cover;

            @include m.mixMQ(v.$desk) {
                width: 280px;
            };
        }

        @include m.mixMQ(v.$desk) {
            width: 90%; 
        };
        @include m.mixMQ(v.$movil) {
            width: 98%;
        };

        .eqTextos {
            width: 60%;
            text-align: center;
            margin: 3rem 0;

            @include m.mixMQ(v.$tablet) {
                width: 90%;
            };

            .eqLista {
                margin-top: 1rem;
            }

            p small {
                color: v.$color1;
                margin: 0 .2rem;
            }

        }

        .hardware {
            @include m.mixFlex(flex,center,center,wrap,0);
            
            @include m.mixMQ(v.$desk) {
                width: 60%;
            };
            @include m.mixMQ(v.$tablet) {
                width: 95%;
            };

            .element {
                @include m.mixBox(100px,100px,0,6px,v.$color1,v.$box-shadow3);
                margin: 1rem;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// .secEquipo {

//     .eqContent {
//         width: 70%;
//         margin: 3rem auto;
//         @include m.mixFlex(flex,0,center,0,column);

//         img {
//             width: 350px;
//             object-fit: cover;

//             @include m.mixMQ(v.$desk) {
//                 width: 280px;
//             };
//         }

//         @include m.mixMQ(v.$desk) {
//             width: 90%;
//         };

//         .eqTextos {
//             width: 60%;
//             text-align: center;
//             margin: 3rem 0;

//             @include m.mixMQ(v.$tablet) {
//                 width: 90%;
//             };

//             .eqLista {
//                 margin-top: 1rem;
//             }

//             p small {
//                 color: v.$color1;
//                 margin: 0 .2rem;
//             }

//         }

//         .hardware {

//             .element {
//                 @include m.mixBox(100px,false,0,6px,v.$color1,v.$box-shadow3);
//                 //height: 100%;
//                 img {
//                     width: 100%;
//                     object-fit: cover;
//                 }
//             }
//         }
//     }
// }