@use 'base/variables' as v;
@use 'base/mixins' as m;

.formatoHero { 
    width: 100%; 
    height: 100vh;
    min-height: 57rem;
    max-height: 95rem; 
    position: relative; 
    color: #fff;
    overflow: hidden; 
    @include m.mixFlex(flex,center,0,0,column);

    @include m.mixMQ(v.$tablet) {
        height: 70vh;  
    };

    @include m.mixMQ(v.$movil) {
        height: 60vh;
        min-height: 20rem; 
    };

}

.clsBefore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.formatoHero_Container {
    position: absolute;
    @include m.mixFlex(flex,center,0,0,column);    
    color: v.$blanco;
    width: 85rem;
    left: 5rem;
    top: 65%;

    @include m.mixMQ(v.$deskXL) {
        width: 75rem;        
    };

    @include m.mixMQ(v.$tablet) {
        width: 70%;
        top: 60%;
    };

    @include m.mixMQ(v.$movil) {
        width: 85%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center
    };

    h1 {
        text-transform: uppercase;    
        margin-bottom: 10px ;
        text-shadow: v.$box-shadow;
        text-align: left;

        @include m.mixMQ(v.$movil) {
            text-align: center;            
        };
        
        span {
            color: v.$color1;
            font-weight: 800; 
            text-shadow: v.$box-shadow2;
        }    
    }

    p {
        font-family: v.$fuente_sec;
        color: v.$blanco;
        font-size: v.$titParrafo;
        margin-top: 0; 

        @include m.mixMQ(v.$tablet) {
            font-size: v.$titParrafo - .5rem;            
        };
    }
}

// ! ===========================================================================================================

.hero {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(287deg, rgba(0,0,0,.1) 20%, rgba(0,0,0,1) 100%), url('../img/Fondo_Hero.jpg');
        background-size: cover;
        background-position: center center;

        @include m.mixMQ(v.$deskXL) {
            background-image: linear-gradient(287deg, rgba(0,0,0,.1) 45%, rgba(0,0,0,1) 100%), url('../img/Fondo_Hero.jpg');
            background-position: left center;
        };

        @include m.mixMQ(v.$desk) {
            background-position: center center;            
        };

        @include m.mixMQ(v.$movil) {
            background-image: linear-gradient(287deg, rgba(0,0,0,.1) 10%, rgba(0,0,0,1) 100%), url('../img/Fondo_Hero_Movil.jpg');
            background-position: center;
        };
    }
    
}

.heroSoftware {

    @extend .formatoHero;
    height: 68vh;
    
    
    flex-direction: row;

    @include m.mixMQ(v.$tablet) {
        height: 100vh;
        width: 100%;
    };

    .hero_container {
        @extend .formatoHero_Container;
        width: 50%;
        background: v.$degradadoRed;
        height: 100%;
        top: 0;
        left: 0;
        @include m.mixFlex(flex,center,center,0,column);
        // z-index: 10000;

        @include m.mixMQ(v.$deskXL) {
            width: 40%;
        };
        @include m.mixMQ(v.$tablet) {
            width: 100%;
            height: 40%;
            top: 60%;
        };
        @include m.mixMQ(v.$movil) {
            height: 50%;
            top: 50%;
        };

        // .heroSoft_Titulo {
        //     width: 85%;
        //     text-align: center;
        //     margin: 0 auto;

        //     h1 {
        //         text-align: center;
        //         font-size: v.$titHero - 1rem;

        //         @include m.mixMQ(v.$deskXL) {
        //             font-size: v.$titHero - 2rem;                    
        //         };

        //         @include m.mixMQ(v.$movil414) {
        //             font-size: v.$titHero - 2.5rem;
        //         };

        //         @include m.mixMQ(v.$movilSM) {
        //             font-size: v.$titHero - 2.8rem;
        //         };

        //         span {
        //             color: v.$negro;
        //             text-shadow: none;
        //         }
        //     }
        // }

        .heroSoft_mockup {
            height: 40%;
            margin-bottom: 2rem;

            @include m.mixMQ(v.$deskXL) {
                height: 35%;
            };
            @include m.mixMQ(v.$desk) {
                height: 30%;
            };
            @include m.mixMQ(v.$tablet) {
                height: 40%;
            };

            img {
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .sliderHero {
        @extend .formatoHero_Container;
        width: 50%;
        height: 100%;
        background: v.$negro;
        top: 0;
        left: 50%;

        @include m.mixMQ(v.$deskXL) {
            width: 60%;
            left: 40%
        };

        @include m.mixMQ(v.$tablet) {
            left: 0;
            top: 0;
            width: 100%;
            height: 60%;
        };

        @include m.mixMQ(v.$movil) {
            height: 50%;
            margin: 0;
        };

        &::before {
            @extend .clsBefore;
            content: "";
            background: linear-gradient(287deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
            background-size: cover;
            background-position: center center;
            z-index: 1000;
        } 
    
    }

}


// ! HERO DE LA PESTAÑA: PAGINAS WEB
.heroPaginas {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%), url('../img/FondoPaginasWeb.jpg');
        background-size: cover;
        background-position: center center;
        // animation: animHero 8s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite alternate both;        

        @include m.mixMQ(v.$deskXL) {
            background-image: linear-gradient(270deg, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%), url('../img/FondoPaginasWeb.jpg');
            background-position: left center;            
        };

        @include m.mixMQ(v.$deskXL) {
            background-position: 70%;            
        };

        @include m.mixMQ(v.$movil) {
            background-image: linear-gradient(270deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%), url('../img/FondoPaginasWeb.jpg');            
            background-position: 80%;
        };

    }
    
    .hero_container {
        @extend .formatoHero_Container;
        top: 70%;

        @include m.mixMQ(v.$movil) {
            top: 0%;
        };

        p {
            text-shadow: v.$box-shadow2;
        }
    }

}

// ! HERO DE LA PESTAÑA: DISTRIBUIDORES
.heroDistribuidores {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%), url('../img/Fondo_Distribuidores.jpg');

        background-size: cover;
        background-position: center center;

        @include m.mixMQ(v.$deskXL) {
            background-position: 70%; 
        };

    }
    
    .hero_container {
        @extend .formatoHero_Container;
        top: 40%;

        @include m.mixMQ(v.$movil) {
            top: 0%;
        };

        p {
            text-shadow: v.$box-shadow2;
        }
    }
}

// ! HERO DE LA PESTAÑA: SOPORTE
.heroContacto {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%), url('../img/PaginaContacto.jpg');
        background-size: cover;
        background-position: top top;
        // animation: animHero 8s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite alternate both;        

        @include m.mixMQ(v.$desk) {
            background-position: 85%;            
        };

        @include m.mixMQ(v.$movil) {
            background-image: linear-gradient(270deg, rgba(0,0,0,0.2) 30%, rgba(0,0,0,1) 100%), url('../img/PaginaContacto.jpg');
        };
    }
    
    .hero_container {
        @extend .formatoHero_Container;
        top: 40%;

        @include m.mixMQ(v.$movil) {
            top: 0;
        };

        p {
            text-shadow: v.$box-shadow2;
        }
    }
}

// ! HERO DE LA PESTAÑA: SOPORTE
.heroSoporte {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%), url('../img/FONDO_SOPORTE.jpg');
        background-size: cover;
        background-position: top top;
        // animation: animHero 8s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite alternate both;        
    }
    
    .hero_container {
        @extend .formatoHero_Container;
        top: 40%;

        p {
            text-shadow: v.$box-shadow2;
        }
    }
}

// ! HERO DE LA PESTAÑA: RESEÑAS
.heroResenas {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%), url('../img/FONDO_RESENAS2.jpg');
        background-size: cover;
        background-position: center center;

        @include m.mixMQ(v.$deskXXL) {
            background-position: 70%;
        };

        @include m.mixMQ(v.$movil) {
            background-image: linear-gradient(270deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%), url('../img/FONDO_RESENAS2.jpg');            
            background-position: 80%;            
        };
        // animation: animHero 8s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite alternate both;        
    }
    
    .hero_container {
        @extend .formatoHero_Container;
        top: 40%;

        @include m.mixMQ(v.$movil) {
            top: 0;
        };

        p {
            text-shadow: v.$box-shadow2;
        }
    }
}

// ! HERO DE LA PESTAÑA: GALERÍA
.heroGaleria {

    @extend .formatoHero;

    &::before {
        @extend .clsBefore;
        content: "";
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 90%), url('../img/FONDO_GALERIA.jpg');
        background-size: cover;
        background-position: top top;
        // animation: animHero 8s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite alternate both;        

        @include m.mixMQ(v.$desk) {
            background-position: 75%;            
        };
    }
    
    .hero_container {
        @extend .formatoHero_Container;
        top: 40%;

        @include m.mixMQ(v.$movil) {
            top: 0;
        };

        p {
            text-shadow: v.$box-shadow2;
        }
    }
}

// ! HERO para todos los sistemas

.hero-sistema {

    @extend .formatoHero;
    justify-content: space-between;
        
    flex-direction: row;
    
    @include m.mixMQ(v.$deskXL) {
        height: 75vh;
    };

    @include m.mixMQ(v.$desk) {
        height: 68vh;
    };

    @include m.mixMQ(v.$tablet) {
        height: 100vh;
    };

    .hero_container {
        @extend .formatoHero_Container;
        width: 40%;
        background-image: v.$degradadoRed;
        height: 100%;
        z-index: 100;

        top: 0;
        left: 0;

        @include m.mixMQ(v.$tablet) {
            height: 40%;
            width: 100%;
            top: 60%;
        };

        @include m.mixMQ(v.$movil) {
            height: 50%;
            top: 50%;
        };
            
        .hero-content {

            height: 80%;
            @include m.mixFlex(flex,center,center,no-wrap,column);
            padding-top: 10rem;

            @include m.mixMQ(v.$tablet) {
                flex-direction: row;
                padding: 2rem;
            };

            @include m.mixMQ(v.$movil) {
                flex-direction: column;
            };

            .hero-logo {
                width: 50%;
                margin-bottom: 3rem;

                @include m.mixMQ(v.$deskXL) {
                    width: 40%;
                };

                @include m.mixMQ(v.$tablet) {
                    display: none;
                    // visibility: hidden;
                };

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .hero-mockup {
                width: 50%;
                margin-bottom: 3rem;

                @include m.mixMQ(v.$deskXL) {
                    width: 40%;
                };

                @include m.mixMQ(v.$tablet) {
                    margin-right: 2rem;
                    width: 35%;
                };

                @include m.mixMQ(v.$movil) {
                    width: 45%;
                    margin: 0 0 2rem 0;
                };

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            // .heroSoft_Titulo {
            //     width: 90%;
            //     text-align: center;

            //     @include m.mixMQ(v.$tablet) {
            //         width: 50%;
            //         text-align: left;
            //     };

            //     @include m.mixMQ(v.$movil) {
            //         width: 80%;
            //     };

            //     h1 {
            //         text-align: center;

            //         @include m.mixMQ(v.$deskXL) {
            //             font-size: v.$titHero - 1.5rem;  
            //         };

            //         @include m.mixMQ(v.$movilSM) {
            //             font-size: v.$titHero - 2rem;                          
            //         };

            //         span {
            //             color: v.$blanco;
            //             border-bottom: solid 2px v.$color1;
            //         }
            //     }

            //     p {
            //         width: 70%;
            //         margin: 0 auto;
            //         font-size: v.$titParrafo + .5rem;

            //         @include m.mixMQ(v.$deskXL) {
            //             font-size: v.$titParrafo - .2rem;
            //         };

            //         @include m.mixMQ(v.$desk) {
            //             font-size: v.$titParrafo - .5rem;
            //         };

            //         @include m.mixMQ(v.$tablet) {
            //             text-align: center;
            //             width: auto;
            //         };

            //     }
            // }
        }

        // .hero-wave {
        //     width: 100%; 
        //     height: 10%;
        // }
    }
    
    .hero-right {
        overflow: hidden;
        width: 60%;
        height: 100%;
        position: absolute;
        left: 40%;
        display: flex;
        flex-direction: column;

        @include m.mixMQ(v.$tablet) {
            height: 60%;
            width: 100%;
            top: 0;
            left: 0;
        };

        @include m.mixMQ(v.$movil) {
            height: 50%;
        };

        .heroR-fondo {
            width: 100%;
            height: 100%;
            position: relative;

                
            &::before {
                position: absolute;
                content: "";

                @include m.mixMQ(v.$tablet) {
                    background: linear-gradient(0deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,.9) 100%);
                    width: 100%;
                    height: 15%;
                    z-index: 100;
                };
            } 
        
    
            img {
                height: 100%; 

                @include m.mixMQ(v.$tablet) {
                    width: 100%;
                };

                object-fit: cover;
            }

            .heroR-leyenda {
                position: absolute;
                // bottom: -0.1rem;
                bottom: 0;
                color: v.$blanco;
                width: 100%;
                background: linear-gradient(270deg, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 100%);
                padding: 3rem;
                border-top: 1px solid v.$color1;
                z-index: 200;

                @include m.mixMQ(v.$tablet) {
                    border-top: none;
                    background: linear-gradient(180deg, rgba(0,0,0,0.0) 5%, rgba(0,0,0,0.5) 30%,rgba(0,0,0,1) 100%);
                };

                h3 {
                    font-weight: bold;
                    text-transform: uppercase;
                }

                p {
                    color: v.$blanco;
                    font-size: 2rem;
                    width: 80%;

                    @include m.mixMQ(v.$deskXL) {
                        width: 100%;
                    };

                    @include m.mixMQ(v.$desk) {
                        font-size: 1.6rem;
                    };
                }
            }
        }

    }

}

.wrapper { 
    position: absolute;
    bottom: 0;
    @include m.mixFlex(flex,center,0,0,0);
    @include m.mixBox(100%,false,false,false,v.$color1,v.$box-shadow);
    backdrop-filter: blur(50px);

    .dynamic-txts {
        @include m.resetear-lista;
        text-align: center;
        margin-left: 15px;
        line-height: 45px;    
        height: 45px;        
        letter-spacing: 10px;
        overflow: hidden;

        li {
            color: v.$blanco;
            font-size: v.$titParrafo;
            font-weight: 600;
            top: 0;
            position: relative;

            padding: 0 15px;
            animation: slide 18s steps(6) infinite;

            @include m.mixMQ(v.$movil) {
                font-size: v.$titParrafo - 1rem;
            };

            &::after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: v.$color1;
                border-left: 2px solid v.$blanco;
                animation: typing 3s steps(24) infinite;
            }
        }
    }
}